<div class="container">
  <div class="row">
    <ul>
      <li><%= person.first_name %></li>
      <li><%= person.last_name %></li>
      <li><%= person.nickname %></li>
      <li><%= person.photo %></li>
      <li><a href="<%= person.github %>">Github</a></li>
      <li><a href="<%= person.linkedin %>">LinkedIn</a></li>
      <li><a href="<%= person.twitter %>">Twitter</a></li>
      <li><%= person.role %></li>
      <li><%= person.projects %></li>
    </ul>
  </div>
</div>